* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: Varela Round;
    margin: 5% 10%;
    font-size: 62.5%;
}

body {
    background-color: #2E3047;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 6.2rem;
}

#status {
    font-size: 1.7rem;
}

h1, p {
    color: white;
    letter-spacing: 3px;
}

#countdown {
    font-size: 6.8rem;
}

.visor {
    margin: 3rem;
    padding: 3rem;
    border: solid 2px #02FFF7;
    border-radius: 10px;
    width: 60rem;


}

button {
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #02FFF7;
    padding: 3% 10%;

    background-color: #2E3047;
    color: #02FFF7;
    font-size: 36px;
    color: #02FFF7;
    font-family: Varela Round;
    
}

button:hover {
    transition: 0.3s;
    background-color: #02FFF7;
    border: 2px solid #02FFF7;
    color: #2E3047;
}

@media screen and (max-width: 980px) {
    
    html {
        text-align: center;
        font-family: Varela Round;
        margin: 5% 10%;
        font-size: 50%;
    }

    .visor {
        width: 30rem;
    }
    
}